@tailwind base;
@tailwind components;
@tailwind utilities;


.glass{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

}

.fade{
    animation: fade .3s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fade {
    100%{opacity: 1;}
}

.scaleup{
    animation: scaleup .1s ease-out;
    animation-fill-mode: forwards;
    transform: scale3d(.1, .1, .1);
    opacity: 0;
}

@keyframes scaleup {
    50%{
       
    }

    100%{
        opacity: 1;
        transform: scale3d(1, 1, 1);
        
    }
}

.react-calendar{
    @apply border-none 
   
}
